/* Reset based on ideas from https: //chriscoyier.net/2023/10/03/being-picky-about-a-css-reset-for-fun-pleasure/ */
*{
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: inherit;
}

/* This makes it so iPhones don’t dork up the font size in landscape mode */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}
body{
	min-height: 100svh;
}
body,
:where(h1,h2, h3, h4, p, figure, blockquote, dl, dd){
	margin: 0;
}
:where(ul, ol){
	list-style-type: '';
	margin: 0;
	padding: 0
}
:where(input, button, textarea, select) {
	font: inherit;
}
:where(h1, h2, h3, h4) {
	text-wrap: balance;
}
:where(p, figcaption, blockquote, dl, dd, li) {
	text-wrap: pretty;
}
:where(img){
	max-width: 100%;
	height: auto;
}
:target {
	scroll-margin-block: 1em;
}


/* Tokens */
:root{
	--space-xs: 0.5rem;
	--space-s: 1rem;
	--space-m: 2rem;

	--bg-light: white;

	--duration-link: 100ms;
	--duration-link-hover: 75ms;
}

@media (prefers-reduced-motion: reduce) {
:root {
		--duration-link: 5ms;
		--duration-link-hover: 5ms;
	}
}

/* Basic layout */

body{
	display: flex;
	flex-direction: column;
}
main{
	flex-grow: 1;
}
