---
import { defaultLocale, fallback } from '@src/i18n/i18n';
import HeaderLink from './HeaderLink.astro';
import { headerMenu } from '@src/header';

const menuLocale =  headerMenu[Astro.currentLocale] ? Astro.currentLocale : fallback[Astro.currentLocale] || defaultLocale
const headerMenuItems = headerMenu[menuLocale].items

---

<header>
	<nav>
		<slot />
		<ul class="header__list">
			{headerMenuItems.map((item) => (
				<HeaderLink href={item.path}>{item.label}</HeaderLink>
			))}
		</ul>
	</nav>
</header>

<style>
	.header__list{
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
		max-width: 100%;
		overflow-x: auto;
	}
</style>