---
import type { HTMLAttributes } from 'astro/types';
type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;
const ariaCurrent = href === pathname || href === pathname.replace(/\/$/, '') ? 'page' : '' ;
---
<li>
	<a
		href={href}
		class:list={[className]}
		aria-current={ariaCurrent ? ariaCurrent : undefined}
		{...props}
	>
		<slot />
	</a>
</li>

<style>
	a[aria-current=page] {
		font-weight: bolder;
	}
</style>
