---
import Head from '@components/Head.astro';
const {title, description, image} = Astro.props
const lang = Astro.currentLocale;
---
<!doctype html>
<html lang={lang}>
  <head>
    <Head title={title} description={description} image={image}/>
  </head>
  <body>
		<slot/>
	</body>
</html>
