---
import Head from '@components/Head.astro';
const {frontmatter, translationLinks} = Astro.props
const lang = Astro.currentLocale;
---
<!doctype html>
<html lang={lang}>
  <head>
    <Head frontmatter={frontmatter} translationLinks={translationLinks} />
  </head>
  <body>
		<slot/>
	</body>
</html>
