---
import Head from '@components/Head.astro';
import { siteTitle, siteDescription } from '@root/consts';
const lang = Astro.currentLocale;
---
<!doctype html>
<html lang={lang}>
  <head>
    <Head title={siteTitle} description={siteDescription} />
  </head>
  <body>
		<slot/>
	</body>
</html>
