---
import Header from "@components/Header.astro";
import I18n from "@components/I18n.astro";

const
	{frontmatter} = Astro.props,
	title = frontmatter.title;
---
<I18n frontmatter={frontmatter} collection="pages">
	<Header />
	<main class="prose">
		<h1>{title}</h1>
		<slot/>
	</main>
</I18n>
