---
import Page from '@layouts/Page.astro'
import { getPostsByTag } from '@utilities/tags';
import { getRelativePostPath } from '@utilities/getPostPath';
import type { CommonFrontmatter } from '@src/types';

interface Frontmatter extends CommonFrontmatter{
  tag?: string,
  collection?: string,
}
interface Props{
  frontmatter: Frontmatter,
}

const {frontmatter } = Astro.props;
const filteredPosts = await getPostsByTag('blog', frontmatter.tag, Astro.currentLocale);
---

<Page {frontmatter}>
  <ul>
    {filteredPosts.map(({ data, slug }) => (
      <li>
        <a href={getRelativePostPath(Astro.currentLocale, frontmatter.collection, slug )}>{data.title}</a>
      </li>
    ))}
  </ul>
</Page>