---
import Page from '@layouts/Page.astro'
import { getPostsByTag } from '@utilities/tags';
import { getRelativePostPath } from '@utilities/getPostPath';

export interface Props {
  frontmatter: any; 
  collection: string;
}

const {frontmatter, collection } = Astro.props;
const filteredPosts = await getPostsByTag('blog', frontmatter.tag, Astro.currentLocale);
---

<Page {frontmatter}>
  <ul>
    {filteredPosts.map(({ data, slug }) => (
      <li>
        <a href={getRelativePostPath(Astro.currentLocale, collection, slug )}>{data.title}</a>
      </li>
    ))}
  </ul>
</Page>