---
import { getUniqueTags} from '@utilities/tags';
import { getTagPath } from '@utilities/tags';
import Page from '@layouts/Page.astro'

const {frontmatter} = Astro.props
const tags = (await getUniqueTags(frontmatter.collection, Astro.currentLocale)).filter((tag) => {
	return tag.tagName !== 'other'
})
---
<Page {frontmatter}>
	<ul>
		{tags.map(({ tag, tagName }) => 
			<li>
				<a href={getTagPath(Astro.currentLocale, tag)}>{tagName}</a>
			</li>
		)}
	</ul>
</Page>